footer{
    text-align: left;
    background-color: rgb(39, 38, 38);
    color: rgb(255, 255, 255);
    margin-top: 0%;
    padding-top: 0%;
    font-family: sans-serif;

}
.firstFooter{
    display: inline-block;
    padding-left: 200px;
    
}
.secondFooter{
    display: inline-block;
    padding-left: 200px;
}
.thirdFooter{
    display: inline-block;
    padding-left: 200px;
}